==<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Configurações </title>

        <link rel="stylesheet" href="{{ url_for('static', filename='manager.css') }}">
    </head>

    <body>
        <div class="main-container">
        
        <h1 class="main-title">Configurações do Sistema</h1>
        
        <div class="content-wrapper">
            <h2 class="subtitle">Variáveis de Ambiente</h2>
            <h3 class="section-header">Chaves das APIs</h3>

            <form class="config-form" method="POST">
                
                <div class="input-group">
                    <label for="gemini">API Gemini</label>
                    <input type="text" id="gemini" name="gemini">
                </div>

                <div class="input-group">
                    <label for="evolution">API Evolution</label>
                    <input type="text" id="evolution" name="evolution">
                </div>

                <button type="submit" class="btn-save">Salvar</button>
            </form>
        </div>

    </div>
    </body>
</html>